/* #att #test{
    height: 50px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3, 12px);
    grid-template-rows: repeat(3, auto);
    border: 1px solid black;
    grid-auto-flow: column;
} */

.mark-attend{
    display: flex;
    
    width: 150px;
    border: 1px solid black;
    margin: 1px;
    position: relative;
    text-align: center;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll_no{
    height: 38px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

.grid-item .present{
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}
